:root{
    --blue-color: #0075ff;
    --alt-blue-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.3s;
}
/* Start box */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.f-align-cntr{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}
/* End box */
/* Start Padding and Margin */
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
/* End Padding and Margin */
/* Start color */
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.bg-eee{
    background-color: #eee;
}
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.c-grey{
    color: var(--grey-color);
}
.c-blue{
    color: var(--blue-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-green{
    color: var(--green-color);
}
.c-red{
    color: var(--red-color)
}
/* End color */
/* Start position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* End position */
/* Start text */
.txt-c{
    text-align: center;
}
.line-through{
    text-decoration: line-through;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
.txt-cap{
    text-transform: capitalize;
}
@media (max-width: 768px) {
    .txt-c-mobile{
        text-align: center;
    }
    .fs-mobile{
        font-size: 0.8rem;
    }
}

/* End text */
/* Start border */
.b-none{
    border: none;
}
.b-ccc{
    border: 1px solid #ccc;
}
.bt-eee{
    border-top: 1px solid #eee;
}
.bb-eee{
    border-bottom: 1px solid #eee;
}
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* End border */
/* start width & height */
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
    height: 100%;
}
/* End Width & height */
/* Start Components */
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Components */